.chat {
	padding: 25px;
	transition: background var(--transition-ms);
	cursor: pointer;
	position: relative;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;

	&:hover {
		background-color: var(--background-hover);
	}
	&.active {
		background-color: var(--selected-color);
	}
}
.hr {
	width: 100%;
	border: 1px solid var(--primary-color);
	margin: 0;
}

.title {
	font-size: 18px;
}
.text {
	font-size: 14px;
}
.date {
	font-size: 10px;
	text-align: right;
}
.img {
	width: 40px;
	max-height: 40xp;
}
.content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
