.section {
	position: absolute;
	top: 100%;
	background-color: var(--primary-color);
	width: 100%;
	border-radius: var(--section-border-radius);
	overflow: hidden;
	z-index: 3;
}

.content {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	text-align: center;
}
.link {
	color: var(--secondary-color);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
