.section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}
.content {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	box-shadow: var(--primary-box-shadow);
	border-radius: var(--button-border-radius);
	background-color: var(--primary-color);
	padding: 15px;
	position: relative;
}
.section_other_message {
	align-items: flex-end;
}
.other_message {
	background-color: var(--selected-color);
}
.date {
	text-align: right;
	font-size: 12px;
}

.img {
	width: 30px;
}
.author {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 14px;
}
