.section {
	width: 400px;
	display: flex;
	flex-direction: column;
	box-shadow: var(--primary-box-shadow);
	height: 100dvh;
	overflow-y: auto;

	z-index: 2;
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
